.left-scroll,.right-scroll{
	font-size: 40px;
	height:40px;
	display: none;
}



.glyphicon{
	top:0px;
}


.wrap{
	min-width: 920px
}

.col-xs-1{
	text-align: center;
	padding-top: 55px;
}

.input-group{
	width:400px;
	margin-bottom: 15px;
}


.title{
	float:left;
	padding:40px;
	color:white;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 40px;
	
}

.header{
	height: 160px;
	background-color:rgb(255, 136, 136);
	border-radius: 0 0 15px 15px;
	padding: 15px;

}

#map{
	width:100%;
	height:400px;
	margin-top:30px;
	clear:both;
	background-image: url(images/loading.gif);
	background-position: 50% 50%;
	background-size: 70px;
	background-repeat: no-repeat;
	margin-bottom: 40px;
}


.loading{
	width:100%;
	height:400px;
	margin-top:30px;
	background-image: url(images/loading.gif);
	background-position: 50% 50%;
	background-size: 70px;
	background-repeat: no-repeat;
	border: 2px dashed rgb(194, 194, 194);
	border-radius: 12px;
	display:none;
}


#search-area{
	float: right;
	margin-bottom: 25px;
	padding-top: 50px;
}

.food-thumbnail{
	border: 2px white solid; */
	/* border-radius: 10px; */
	float: left;
	/* vertical-align: middle; */
	/* box-shadow: rgb(208, 208, 208) 0px 4px 5px; */
	overflow: hidden;
}

#carousel_ul{
	list-style: none;
	left:0px;

	list-style-type: none;
	-webkit-padding-start:0px;
	position: relative;
}

#outer{
	overflow: hidden;
	height: 150px;
}

#carousel_ul li{
	width:140px;
	height:113px;
	display: table-cell;
	padding:20px;
}


/*
.food-thumbnail img{
	border-radius:10px;
}
*/




.user-search-response, .user-search-response-number, .user-search-response-error{
	font-weight: bold;
}

.user-search, .user-search-number, .error-message{
	display:none;
}



#scroll{
	height:150px;
	margin-bottom: 40px;
}

span.glyphicon.glyphicon-circle-arrow-left,span.glyphicon.glyphicon-circle-arrow-right{
	color:#D96767;
}

span.glyphicon.glyphicon-circle-arrow-left:hover:hover,span.glyphicon.glyphicon-circle-arrow-right:hover:hover{
	color:#BF5E5E;
}

.image-holders{
	overflow: hidden;
	height: 150px;
}

.left-scroll glyphicon glyphicon-circle-arrow-left{
	width:100px;
}


.results li{
	float: left;
	list-style: none;
	background-color: black;
	width: 200px;
	height: 200px;
}