.left-scroll,.right-scroll{
	font-size: 40px;
	height:40px;
}

.glyphicon{
	top:0px;
}


.wrap{
	min-width: 920px
}

.col-md-1{
	text-align: center;
	padding-top: 55px;
}

.input-group{
	width:400px;
	margin-bottom: 15px;
}


.title{
	float:left;
	padding:40px;
	color:white;
	
}

.header{
	height: 160px;
	background-color: rgb(207, 207, 207);
	border-radius: 0 0 15px 15px;
	padding: 15px;
}

#map{
	width:100%;
	height:400px;
	background-color: black;
	margin-top:30px;
	clear:both;
}

#search-area{
	float: right;
	margin-bottom: 25px;
	padding-top: 30px;
}

.food-thumbnail{
	width:140px;
	height:113px;
	border:2px #dd883c solid;
	border-radius:10px;
	float:left;
	margin:20px;
	overflow: hidden;
	vertical-align: middle;
}

.food-thumbnail img{
	border-radius:10px;
}

#scroll{
	margin-top: 40px;
	height:150px;
	margin-bottom: 40px;
}

.image-holders{
	overflow: hidden;
	height: 150px;
}

.left-scroll glyphicon glyphicon-circle-arrow-left{
	width:100px;
}


footer{
	height:130px;
	background-color: gray;
}